@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,400&family=Montagu+Slab:opsz,wght@16..144,200;16..144,700&family=Roboto:wght@400;700;900&display=swap');

@font-face {
	font-family: "Messanges Small";
	src: url(../fonts/MessangesSmall-Regular.woff2) format("wooff2"),
		url(../fonts/MessangesSmall-Regular.woff) format("woof");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Messanges Small";
	src: url(../fonts/MessangesSmall-BlackItalic.woff2) format("woff2"),
		url(../fonts/MessangesSmall-BlackItalic.woff) format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: italic;
}

h1 {
	font-family: "Messanges Small", serif;
	font-weight: 900;
	font-style: italic;
	font-size: 50px;
	color: rgba(118, 174, 41, 0.9);
	text-align: center;
	text-shadow: 28px 17px 4px rgba(134, 142, 80, 0.4);
	text-transform: uppercase;
	letter-spacing: 10px;
	padding: 5px;
	margin: 10px;
	background-color: rgba(255, 35, 49, 0.67);
}

/*Так як background-color ще не вивчали,додав його щоб опрацювати padding*/

h2 {
	font-family: "Messanges Small", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 40px;
	color: rgba(83, 177, 138, 0.9);
	text-align: center;
	text-shadow: 8px 8px 2px rgba(150, 204, 150, 1);
	text-transform: capitalize;
	letter-spacing: 5px;
	margin-top: 30px;
}

h3 {
	font-family: "Messanges Small", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	color: rgba(255, 30, 50, 1);
	text-shadow: 11px -11px 2px rgba(150, 34, 59, 0.57);
	text-align: left;
	text-transform: lowercase;
	letter-spacing: 3px;
	margin: 20px;
}

.cover img,
.supra img,
.mazda img,
.honda img {
	margin: 50px;
	width: 500px;
}

p {
	font-family: "Josefin Sans", serif;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	margin-left: 20px;
	text-indent: 20px;
	line-height: 30px;
	word-spacing: 7px;

}

.text-cover p {
	color: rgba(0, 162, 20, 0.73);
}

a {
	font-family: "Josefin Sans", serif;
	font-weight: 600;
	font-style: normal;
	font-size: 25px;
	color: black;
}

.supra>a+p {
	color: rgba(255, 124, 20, 0.73);
}

.mazda>a~p {
	color: rgba(255, 25, 20, 0.73);
}

.honda a~p~p {
	color: rgba(254, 166, 115, 0.87);
}

.navigator a {
	color: brown;
	text-decoration: underline;
	text-shadow: -4px 0px 1px rgba(229, 144, 0, 0.38);
}

.navigator {
	margin-left: 30px;
	padding-top: 30px;
}